.loader{
    width:2.6rem;
    height:2.6rem;
    border-bottom:3px solid #fff;
    border-top-color:#4f46e5 ;
    background: transparent;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
}

@keyframes spin{
   0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}