.orders_div{
    display:flex;
    margin-top:1rem;
    /* border:1px solid black; */
    flex-wrap: wrap;
    gap:2rem;
}

@media screen and (max-width:550px) {
    .orders_div{
        gap:1rem;
    }
}







