
.main_container{
    width:100%;
    min-height:100vh;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
}

.items_div_main{
    width:100%;
    padding:1rem 2rem;
    /* border:1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    flex:1 !important; 
}

.items_div_heading{
    margin-bottom:1rem;
    font-size:2rem;
    font-weight:770;
    color:#03045e;
}

.items_div{
    display:flex;
    flex-wrap:wrap;
    gap:2rem;
}


@media screen and (max-width:550px){
    .items_div{
        gap:1rem;
    }
    .items_div_main{
        padding:1rem;
    }
}