.main_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

.main_container_child {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  padding: 3rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left_box{
   padding:1rem;
   width:50%;
}
.img_container {
  width: 100%;
  height: auto;
  border:0.2rem solid;
  border-radius: 0.7rem;
  border-color: aliceblue;
}

.item_img {
  width: 100%;
  height:30rem;
  border-radius: 1rem;
}

.btn_container{
  margin-top:1.5rem;
}


.buy_btn {
  width:100%;
  border: none;
  background-color: #fba0e3;
  color: #fff;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 0.5rem;
}
.buy_btn:hover{
  background-color:#F564A9;
}
.info_container {
  width: 50%;
  height: auto;
  padding: 1rem;
  padding-right: 2rem;
}

.title {
  font-weight: 750;
  line-height: 2rem;
}

.description {
  font-size: 1.1rem;
  font-weight: 550;
}

.price span {
  font-size: 1.5rem;
  font-weight: 600;
}

.price {
  font-size: 1.3rem;
  font-weight: 530;
}
.btn_info_container{
    display:none;
}
.owner {
  font-size: 1.1rem;
  font-weight: 500;
  display: inline;
  margin-left: 0.3rem;
}
.owner_details {
  padding: 0.4rem 0.5rem;
  border: 0.2rem solid;
  border-color: aliceblue;
  border-radius: 0.4rem;
}

@media screen and (max-width: 600px) {
  .main_container_child {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .left_box {
    width: 100%;
  }
  .item_img {
    height: 23rem;
  }
  .info_container {
    width: 100%;
    padding-top: 0.5rem;
    padding-right: 1.3rem;
  }

  .btn_container {
    display:none;
  }

  .description {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .btn_info_container{
    display:block;
    margin-top:1rem;
  }
}
